name: miner-petta CI

on:
  push:
    branches:
      - petta-main
  pull_request:
    branches:
      - petta-main

jobs:
  setup-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SWI-Prolog
        run: |
          sudo apt-get update
          sudo apt-get install -y swi-prolog


      #  Run setup.sh (clones PeTTa, sets paths, makes run.sh executable)
      - name: Run setup script
        run: |
          chmod +x setup.sh
          ./setup.sh

  
      - name: Run PeTTa tests
        run: python3 scripts/run-tests.py
        env:
          # Add PeTTa to PATH so run.sh can be found
          PATH: ${{ github.workspace }}/PeTTa:${{ env.PATH }}
