name: miner-petta CI

on:
  push:
    branches:
      - petta-porting
  pull_request:
    branches:
      - petta-porting

jobs:
  setup-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install SWI-Prolog
        run: |
          sudo apt-get update
          sudo apt-get install -y swi-prolog
      
      - name: Run Setup script
        run: |
          chmod +x setup.sh
          ./setup.sh

      - name: Run PeTTa test
        run: |
          python3 scripts/run-tests.py